<div
  #todoList
  class="todoList bg-[#292929] w-[500px] max-w-full mx-auto p-5 rounded-xl mt-10 shadow-xl"
>
  <h1
    class="text-4xl font-bold flex items-center justify-between text-lime-300"
  >
    Todo List <span class="text-3xl">✏️</span>
  </h1>
  <input
    [(ngModel)]="inputValue"
    type="text"
    class="bg-[#191919] border-none focus:ring-0 text-lime-100 my-5 rounded-lg w-full"
    placeholder="Write something... + enter"
    (keyup.enter)="addItem()"
  />
  <ul
    class="flex flex-col gap-3 max-h-[500px] overflow-y-auto overflow-x-hidden"
  >
    @for (item of todoListItems; track item) {
    <todo-list-item
      [id]="item.id"
      [checked]="item.done"
      [title]="item.title"
      (delete)="deleteItem($event)"
      (check)="checkItem($event)"
    ></todo-list-item>
    }
  </ul>
</div>
